*{
    margin:0;
    padding:0;
    border:0;
}
/*************************  Inicio Header *************************/
header{
    width: 100%;
    height: 240px;
}

figure{
    width: 100%;
    height:100%;
}

img.Banner{
    width:100%;
    height:100%;
}
/*************************  Final Header ************************/


/************************* Inicio Nav **************************/

nav{
    background:black;
    font-size: 1.5rem;
}

a{
    
    text-decoration: none;
    color:white;
    right: right;
    position:left;
    margin-left:30px;
    
}


/************************* Final Nav  *************************/


/************************* Inicio Main ***********************/

main{
    background: blue;
    height: 200px;
}

/************************* Final Main *************************/


/************************* Inicio Footer *********************/
footer{
    display: flex;
    flex-direction: row;
    background: #c8cddb;
    height: 200px;
    width: 100%;
    position:static;
    bottom:0%;
}

p.contato{
    background: black;
    color:white;
    font-size:40px;
    height: 40px; 
    width:left;  
    margin-top: 70px;
}

div.icones{
    display: flex;
    flex-direction: row;
    background: black;
    height: 100%;
    width: 400px;
}

figure.github{
    background: white;
    height: 80px;
    width:80px;
    border-radius: 100%;
    margin-top: 60px;
    margin-left: 40px;
}

figure.linkedin{
    background: white;
    height: 80px;
    width:80px;
    border-radius:100%;
    margin-top:60px;
    margin-left: 20px;
}

div.developer{
    margin-top: 30px;
}

p.apresentacao{
    text-align: center;
    margin-left: 200px;
}

picture.picture-programador{

    margin-left:350px;
}


/************************* Final Footer *********************/